<div class="col">
    <section>
    <div class="row align-items-center">
        <div class="col-md-6">

            <h1>Hello template</h1>

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolorem eligendi error eum ipsa laborum
            nihil repellendus. Ad asperiores, commodi cumque deserunt dicta doloremque, dolores fugiat labore laborum
            nulla quas quasi quibusdam quidem ratione saepe sequi sunt, suscipit voluptatum. Asperiores expedita
            laudantium non quod suscipit ullam voluptas voluptate voluptates. A accusantium alias architecto cum dolore
            doloremque, doloribus ducimus enim eos facere facilis fugit hic id illum molestias nisi nobis odit porro
            provident quam quidem ratione sed soluta tempora tempore ut vero. Culpa cum ducimus enim illo incidunt magni
            mollitia, natus nemo perferendis, quam qui sed. Ab ad asperiores earum possimus quam quis tenetur ullam
            velit! Aliquid eos illum odio ratione voluptatum. Aliquid aperiam aspernatur culpa expedita illum, iusto
            maxime modi omnis placeat repellendus sunt tempore, tenetur! Aliquam architecto assumenda at corporis cumque
            delectus facere id in ipsa ipsum laboriosam laborum maxime minima nesciunt odio omnis optio placeat quas
            quasi repudiandae sapiente ut, veniam vero? Blanditiis dignissimos magni neque. Ab ad adipisci aspernatur
            culpa cumque debitis doloremque ea eaque eius et excepturi expedita facilis illo impedit inventore ipsam
            itaque libero minus modi molestiae neque nobis non numquam officia optio possimus quas quibusdam quod
            recusandae sint soluta sunt, tempora ut velit veritatis vero voluptates. A, accusamus amet aperiam
            asperiores aspernatur at corporis deleniti doloribus eveniet excepturi labore laudantium natus obcaecati,
            odit praesentium recusandae repellat reprehenderit repudiandae saepe vero. Ab accusamus accusantium ad
            assumenda beatae consequatur consequuntur corporis cumque delectus deleniti dicta, dignissimos distinctio
            dolor dolorem earum eos ex hic id illum impedit ipsam iure labore magnam modi natus nesciunt optio pariatur
            quibusdam sequi soluta tempora tempore ut veniam vero voluptatem voluptates voluptatum. A at cumque deleniti
            dolorem doloremque ea, earum, facere illo in ipsum iste libero mollitia nemo neque nisi nulla provident
            rerum sapiente temporibus voluptatum. Dolores eveniet odio omnis quo sapiente!
        </div>
        <div class="col-md-6">
            <img src="http://www.hot-wallpaper.com/free_download/1024_1024_wallpapers/09201520/B/B_freeios7.c_bjnGLhuX19.jpg" class="img-fluid d-inline-block" alt="img">
        </div>
    </div>
    </section>
</div>