//main scss file
//include modules libs
@import '_fonts';
@import '_variables';

html{
    font-size: 16px;
}
body{
    padding-top: 65px;
}
.footer {
    min-height: 100px;
    background-color: $footer-bg;
}


//import media
@import '_media';